/* ***** FONTS ****** */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Anton', sans-serif!important;
}

p,
a,
button {
    font-family: 'Roboto', sans-serif!important;
}

.container {
    width: 972px;
}
